body {
  padding: 20px;
}

header {
  width: auto;
  height: 30vh;
  border: 5px solid black;
  padding: 10px;
}

.small {
  width: 65px;
  height: 75%;
  background: #8a2be2;
  margin-top: 3.5%;
  display: inline-block;
}

.big{
  width: 400px;
  height: 100%;
  background: #228b23;
  margin: 0px 30px;
  display: inline-block;
}

.circle {
  width: 275px;
  height: 100%;
  background: aqua;
  display: inline-block;
  border-radius: 50%;
}

.box {
  width: auto;
  border: 5px dotted black;
  margin: 20px 0px;
  padding: 50px;
}

.sig {
  background: #fffacd;
  width: auto;
  height: 200px;
  -moz-box-shadow: 10px 10px 5px #474747;
  -webkit-box-shadow: 10px 10px 5px #474747;
  box-shadow: 10px 10px 5px #474747;
}

footer {
  width: 40vw;
  border: 2px solid #cccccc;
  margin: 20px 25%;
  padding: 100px;
  -moz-box-shadow: 5px 5px 5px #cccccc;
  -webkit-box-shadow: 5px 5px 5px #cccccc;
  box-shadow: 5px 5px 5px #cccccc;
}

footer h1 {
  text-align: center;
  letter-spacing: 10px;
  color: #001180;
}